{% comment %}
Renders a product card

Accepts:
- card_product: {Object} Product Liquid object (optional)
- media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
- show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
- show_vendor: {Boolean} Show the product vendor. Default: false
- show_rating: {Boolean} Show the product rating. Default: false
- extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
- lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
- show_quick_add: {Boolean} Show the quick add button.
- section_id: {String} The ID of the section that contains this card.
- horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false

Usage:
{% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- if card_product and card_product != empty -%}

  <div class="card-wrapper product-card-wrapper border">
    <div class="card">
      {% if card_product.featured_media %}
        <div class="card_image">
          {{ card_product.featured_media | image_url: width: 900 | image_tag: loading: 'lazy' }}

        </div>
      {% endif %}

      <h3 class="card__title">
        {{ card_product.title }}
      </h3>
    </div>
  </div>
{%- else -%}
  <div class="product-card-wrapper card-wrapper underline-links-hover">
    <div class="
                                                                                            card
                                                                                            card--{{ settings.card_style }}
                                                                                            card--text
                                                                                            {% if extend_height %} card--extend-height{% endif %}
                                                                                            {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
                                                                                            {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
                                                                                            {{ horizontal_class }}
                                                                                          " style="--ratio-percent: 100%;">
      <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: 100%;">
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading">
              <a
                role="link"
                aria-disabled="true"
                class="full-unstyled-link">
                {{ 'onboarding.product_title' | t }}
              </a>
            </h3>
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading{% if settings.card_style == 'standard' %} h5{% endif %}">
            <a
              role="link"
              aria-disabled="true"
              class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
            {%- endif -%}
            {% render 'price' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}